<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Cotação</title>
    <style>
        {{{css}}}
    </style>
</head>

<body>
    <!-- ===================================================== -->
    <!-- CAPA -->
    <!-- ===================================================== -->
    <section id="capa" style="background-image: url('{{capa}}');">
		<div class="overlay-capa">
			<div class="titulo-capa">
				<div class="titulo-linha">
					PROPOSTA
				</div>
				<div class="titulo-linha">
					COMERCIAL
				</div>
			</div>
			<div class="numero-cotacao">
				Proposta Comercial nº {{numero}}
			</div>
		</div>
	</section>

    <!-- ===================================================== -->
    <!-- DADOS DO CLIENTE -->
    <!-- ===================================================== -->

    <section id="cliente">
		<header class="cabecalho-pagina">
			<h1>Dados do Cliente</h1>
			<div class="data-geracao">
				{{dataGeracao}}
			</div>
		</header>

		<div class="dados-cliente">
			<div class="campo-cliente">
				<span class="rotulo-cliente">Contato</span>
				<span class="valor-cliente">{{contato}}</span>
			</div>

			<div class="campo-cliente">
				<span class="rotulo-cliente">E-mail</span>
				<span class="valor-cliente">{{email}}</span>
			</div>

			<div class="campo-cliente">
				<span class="rotulo-cliente">Telefone</span>
				<span class="valor-cliente">{{telefone}}</span>
			</div>

			<div class="campo-cliente campo-cliente-largo">
				<span class="rotulo-cliente">Endereço</span>
				<span class="valor-cliente">{{endereco}}</span>
			</div>

			<div class="campo-cliente">
				<span class="rotulo-cliente">CNPJ</span>
				<span class="valor-cliente">{{cnpj}}</span>
			</div>
		</div>
	</section>

    <!-- ===================================================== -->
    <!-- PRODUTO -->
    <!-- ===================================================== -->

    <section id="produto">
		<header class="cabecalho-pagina">
			<h1>Descrição do Produto</h1>
		</header>
		<div class="produto-card">
			<div class="produto-header">
				<h2>{{produtoNome}}</h2>
			</div>
			<div class="produto-descricao">
				<p>{{produtoDescricao}}</p>
			</div>
		</div>
	</section>

    <!-- ===================================================== -->
    <!-- VALORES -->
    <!-- ===================================================== -->

    <section id="valores">
		<header class="cabecalho-pagina">
			<h1>Valores da Proposta</h1>
		</header>

		<table class="tabela-valores">
			<thead>
				<tr>
					<th>Item</th>
					<th>Qtd.</th>
					<th>Valor Unitário</th>
					<th>Total</th>
				</tr>
			</thead>

			<tbody>
				{{#each itens}}
					<tr>
						<td>{{descricao}}</td>
						<td>{{quantidade}}</td>
						<td>{{moeda valorUnitario}}</td>
						<td>{{moeda valorTotal}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>

		<div class="informacoes-comerciais">
			<div class="informacao">
				<span class="titulo-info">
					Prazo de Entrega
				</span>

				<span class="valor-info">
					{{prazoEntrega}}
				</span>
			</div>

			<div class="informacao">
				<span class="titulo-info">
					Forma de Pagamento
				</span>

				<span class="valor-info">
					{{pagamento}}
				</span>
			</div>
		</div>

		<div class="total-proposta">
			<span>Valor total da proposta</span>
			<strong>{{moeda valorTotal}}</strong>
		</div>
	</section>

    <!-- ===================================================== -->
    <!-- GARANTIA E IMPORTAÇÃO -->
    <!-- ===================================================== -->

    <section id="garantia">
        <header>
            <h1>Garantia</h1>
        </header>
        <article>
            {{{garantia}}}
        </article>
        <header>
            <h1>Importação</h1>
        </header>
        <article>
            {{{importacao}}}
        </article>
    </section>

    <!-- ===================================================== -->
    <!-- ASSINATURA -->
    <!-- ===================================================== -->

    <section id="assinatura">
        <header>
            <h1>Validade da Proposta</h1>
        </header>
        <p>
            {{validade}}
        </p>

        <br><br><br>
        <p>
            ________/________/________
        </p>
        <br><br><br>
        <p>
            ________________________________________________
        </p>
        <p class="assinatura-cliente">
			{{contato}}
			<br>
			<strong>CNPJ {{cnpj}}</strong>
		</p>
        <br><br>
        <p>
            ________________________________________________
        </p>
        <p>
            Alfa Gruas e Elevadores
        </p>
		
		<div class="rodape-final">

			{{{rodape}}}

		</div>
    </section>


    <!-- ===================================================== -->
    <!-- RODAPÉ -->
    <!-- ===================================================== -->


</body>

</html>